name: CMake Build
on:
  workflow_call:
    inputs:
      configure_preset:
        description: 'Configure Preset'
        required: true
        type: string

      configure_args:
        description: 'Additional CMake Configuration Arguments, passed during configure step'
        type: string

      build_preset:
        description: 'Build Preset. The default value to use configure_preset value'
        type: string
      
      build_debug_config:
        description: 'Flag whether to build the debug configuration'
        type: boolean
        default: true

      build_release_config:
        description: 'Flag whether to build the release configuration'
        type: boolean
        default: true

      build_target:
        description: 'Build Target. If build_preset specifies target to build, this value will be ignored by CMake'
        type: string

      test_preset:
        description: 'Test Preset'
        type: string

      artifact_path:
        description: 'Path to be archived'
        type: string

      artifact_name:
        description: 'Artifact Name'
        type: string

      working_directory:
        description: 'Working Directory for the build job (used when project is in subdirectory)'
        type: string
        default: '.'

      runner_label:
        description: 'Label of the GitHub Actions runner to use for the build job'
        type: string
        default: 'self-hosted'

jobs:
  build:
    name: "preset: ${{ inputs.configure_preset }}, target: ${{ inputs.build_target }}"
    runs-on: ${{ fromJson(inputs.runner_label) }}

    env:
      build_preset: ${{ inputs.build_preset != '' && inputs.build_preset || inputs.configure_preset }}
      build_target_arg: ${{ inputs.build_target != '' && format('--target {0}',  inputs.build_target) || '' }}


    outputs:
      artifact-id: ${{ steps.upload_artifact.outputs.artifact-id }}
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_TOKEN != '' && secrets.GH_TOKEN || github.token }}
          submodules: recursive

      - name: Setup Github Token 
        if: secrets.GH_TOKEN != ''
        run: |
          git config --global credential.helper store
          git config --global --get-regexp "url.*insteadof" |xargs -rL1 git config --global --unset
          git config --global --add url.https://${{ secrets.GH_TOKEN }}@github.com/.insteadOf https://github.com/
        
      - name: Configure
        working-directory: ${{ inputs.working_directory }}
        run: cmake --preset ${{ inputs.configure_preset }} ${{ inputs.configure_args }}

      - name: Build Debug
        working-directory: ${{ inputs.working_directory }}
        if: inputs.build_debug_config == true
        run: cmake --build . --preset ${{ env.build_preset }} --config Debug ${{ env.build_target_arg }}

      - name: Build Release
        working-directory: ${{ inputs.working_directory }}
        if: inputs.build_release_config == true
        run: cmake --build . --preset ${{ env.build_preset }} --config Release ${{ env.build_target_arg }}

      - name: Test
        working-directory: ${{ inputs.working_directory }}
        if: inputs.test_preset != ''
        run: ctest --preset ${{ inputs.test_preset }}

      - name: Upload artifact
        if: inputs.artifact_name != ''
        uses: actions/upload-artifact@v4
        id: upload_artifact
        env:
          default_path: ${{ inputs.working_directory }}/build/${{ inputs.configure_preset }}/install

        with:
          path:  ${{ inputs.artifact_path != '' && inputs.artifact_path || env.default_path }}
          name: ${{ inputs.artifact_name }}
          if-no-files-found: error
